// Cores
$cor-fundo: #f5f6fa;
$cor-header-bg: #182c61;
$cor-menu-texto: #fff;
$cor-botao-bg: #44bd32;
$cor-botao-hover-bg: #4cd137;

// Fontes
$fonte-principal: 'Roboto', sans-serif;

// Espaçamentos
$padding-header-vertical: 16px;
$margin-menu-li-left: 24px;
$padding-section-vertical: 56px;
$margin-products-top: 40px;
$gap-products-column: 1%;
$gap-products-row: 4%;
$border-radius-image: 16px;
$border-radius-button: 8px;
$padding-button-vertical: 8px;
$margin-button-top: 8px;
$margin-product-item-bottom: 32px;